<div class="mt-5">
    <div class="bgFooter py-5">
        <h1 class="text-center py-3"> تواصل معنا </h1>
    </div>
</div>

<h1 class="mt-5 text-center font-weight-bolder">ابقى على تواصل</h1>

<div class="mt-4">
    <div class="row container m-auto text-center pt-5">
        <div class="col-md-4">
            <i class="fas fa-phone-alt icon"></i>
        </div>
        <div class="col-md-4">
            <i class="fas fa-envelope icon"></i>
        </div>
        <div class="col-md-4">
            <i class="fas fa-map-marker-alt icon"></i>
        </div>
    </div>
</div>


<section class="my-5 container m-auto">
    <form class="py-5 w-75 m-auto">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4" class="directions">الاسم</label>
                <input type="text" class="form-control" id="inputEmail4">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4" class="directions">البريد الالكترونى</label>
                <input type="email" class="form-control" id="inputPassword4">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4"  class="directions">موضوع</label>
                <input type="text" class="form-control" id="inputEmail4">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4" class="directions">التليفون</label>
                <input type="number" class="form-control" id="inputPassword4">
            </div>
        </div>
            <div class="form-group">
                <label for="inputPassword4" class="directions">رساله</label>
                <textarea  class="form-control"></textarea>
            </div>
        <button type="submit" class="btn btn-primary signup"> ارسال </button>
    </form>
</section>

<app-footer></app-footer>