<section class="navBg">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <form class="form-inline my-2 my-lg-0 hideLogo">
                <a class="nav-link links-hover" routerLink="home"> <img src="../../assets/logo.webp"> </a>
            </form>
            <a class="nav-link links-hover" routerLink="setting"><i class="fas fa-user-circle"></i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

                    <a class="nav-link links-hover text-primary font-weight-bolder mt-2"><i
                            class="far fa-bell"></i><span class="sr-only">(current)</span></a>
                    <a class="nav-link links-hover" routerLink="newMeating"><button class="btn btn-primary"> أنشئ لقاء
                            الان </button><span class="sr-only">(current)</span></a>
                    <a class="nav-link links-hover"><button class="btn btn-primary">الخروج</button><span
                            class="sr-only">(current)</span></a>
                </ul>
                <ul class="navbar-nav m-auto mt-2 mt-lg-0">
                    <a class="nav-link links-hover" routerLink="contact">تواصل معنا<span
                            class="sr-only">(current)</span></a>
                    <a class="nav-link links-hover" routerLink="user">اللقائات<span class="sr-only">(current)</span></a>
                    <a class="nav-link links-hover" routerLink="admin">من نحن<span class="sr-only">(current)</span></a>
                    <a class="nav-link links-hover" routerLink="home">الرئيسيه<span class="sr-only">(current)</span></a>
                </ul>
                <form class="form-inline logo my-2 my-lg-0 ">
                    <a class="nav-link links-hover " routerLink="home"> <img src="../../assets/logo.webp"> </a>
                </form>
            </div>
        </nav>
    </div>
</section>