<div class="mt-5">
    <div class="bgFooter py-5">
        <h1 class="text-center py-3">من نحن</h1>
    </div>
</div>

<section class="mt-5">
    <div class="py-5 bgSection">
        <div class="row container m-auto">
            <div class="col-md-4 pt-5">
                <img src="../../assets/logo.webp" class="w-75">
            </div>
            <div class="col-md-8 directions">
                <h2> اهلا بك فى study </h2>
                <p class="pt-3"> اهلا بك
                </p>
            </div>
        </div>
    </div>
</section>

<section class="my-5">
    <div class="row container text-white text-center m-auto">
        <div class="col-md-3">
            <div class="count p-5">
                <h3>0</h3>
                <h6>سنوات الخبرة</h6>
            </div>
        </div>
        <div class="col-md-3">
            <div class="count p-5">
                <h3>0</h3>
                <h6> المستخدمين</h6>
            </div>
        </div>
        <div class="col-md-3">
            <div class="count p-5">
                <h3>0</h3>
                <h6> لقاءات</h6>
            </div>
        </div>
        <div class="col-md-3">
            <div class="count p-5">
                <h3>0</h3>
                <h6> محاضر</h6>
            </div>
        </div>
    </div>
</section>

<section class="container py-5 ">
    <div class="iframe text-center">
        <iframe src="../../assets/10 Healthy Food Swaps You Never Thought To Try(1080P_HD)_1.mp4" class="iframe w-100"
            style="height: 400px;"></iframe>
    </div>
</section>

<app-footer></app-footer>