<div class="mt-5">
    <div class="bgFooter py-5">
        <h1 class="text-center py-3"> اضافة لقاء </h1>
    </div>
</div>

<section class="my-5 container m-auto">
    <form class="py-5 w-75 m-auto">
        <div class="form-group">
            <label for="inputEmail4" class="directions">عنوان اللقاء</label>
            <input type="text" class="form-control" id="inputEmail4">
        </div>
        <div class="form-group">
            <label for="inputPassword4" class="directions"> تاريخ بداية اللقاء</label>
            <input type="date" class="form-control" id="inputPassword4">
        </div>
        <div class="form-group">
            <label for="inputPassword4" class="directions"> التكلفه</label>
            <input type="number" class="form-control" id="inputPassword4">
        </div>

            <div class="form-group">
                <input type="file" class="form-control directions pb-5" id="inputPassword4">
            </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4" class="directions">فئه</label>
                <input type="text" class="form-control" id="inputEmail4">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4" class="directions">منصه</label>
                <input type="text" class="form-control" id="inputPassword4">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword4" class="directions">الوصف</label>
            <textarea class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-primary signup w-100"> إضافة لقاء  </button>
    </form>
</section>

<app-footer></app-footer>