<!-- star carousel -->
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="imgCarouselOne">
                <div class="layout  align-items-center d-flex pl-5 ">
                    <div class="caption directions pl-5">
                        <p class="font-weight-bolder ml-5">
                            انضم للقاءات السريعه وورش العمل <br>
                            المجانيه والمدفوعه على zoom
                            <br>
                            والمنصات الأخرى بكل سهوله
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="imgCarouselTwo">
                <div class="layout align-items-center d-flex pl-5 ">
                    <div class="caption directions pl-5">
                        <p class="font-weight-bolder ml-5">
                            انضم للقاءات السريعه وورش العمل <br>
                            المجانيه والمدفوعه على zoom
                            <br>
                            والمنصات الأخرى بكل سهوله
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<!-- end carousel -->

<!-- start section -->

<section class="mt-5">
    <div class="py-5 bgSection">
        <div class="row container m-auto">
            <div class="col-md-4 pt-5">
                <img src="../../assets/logo.webp" class="w-75 mt-5">
            </div>
            <div class="col-md-8 directions">
                <h2> study اهلا بك فى </h2>
                <p class="pt-3"> (Unicode Conference)المؤتمر الدولي
                    <br> عندما يريد العالم أن ‪يتكلّم ‬ ، فهو يتحدّث بلغة يونيكود. تسجّل الآن لحضور ، الذي سيعقد في
                    <br>العاشر ليونيكود 10-12 آذار 1997 بمدينة مَايِنْتْس، ألمانيا. و سيجمع المؤتمر بين خبراء من كافة
                    قطاعات الصناعة على الشبكة
                    العالمية
                    <br>انترنيت ويونيكود، حيث ستتم، على الصعيدين الدولي والمحلي على حد سواء مناقشة سبل استخدام يونكود في
                    النظم القائمة وفيما يخص
                    التطبيقات الحاسوبية، الخطوط، تصميم النصوص .والحوسبة متعددة اللغات
                </p>
                <div class="mt-3 text-center">
                    <button class="btn btn-warning">المزيد</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="my-5">
    <div class="row container m-auto text-center">
        <div class="col-md-6">
            <button class="btn btn-warning mt-4">افضل اللقاءات</button>
        </div>
        <div class="col-md-6 text-center mt-4">
            <h2>افضل اللقاءات</h2>
        </div>
    </div>
    <div class="my-5">
        <h1 class="text-center py-5"> تصفح اللقائات فى جميع المجالات </h1>
    </div>
    <div class="mt-5">
        <div class="row m-auto container text-center">
            <div class="col-md-4 mt-4">
                <div class="card" style="width: 100%">
                    <img class="card-img-top" src="../../assets/big-1.webp" alt="Card image cap">
                    <div class="card-body">
                        <button class="btn btn-warning" style="margin-top: -70px; margin-right:-130px;"> برمجه</button>
                        <h4 class="card-title directions">OOP</h4>
                        <div class="clr"></div>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                        <hr>
                        <p><span class=" float-left"> 500.00$ </span>
                            <span class="directions">5/15</span>
                        </p>
                        <div class="clr"></div>
                        <a href="#" class="btn mr-2 btn-primary" style="margin-bottom: -60px;">نبهنى لاحقا</a>
                        <a href="#" class="btn btn-primary" style="margin-bottom: -60px;">الدخول للقاء</a>

                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-4">
                <div class="card" style="width: 100%">
                    <img class="card-img-top" src="../../assets/6.webp" alt="Card image cap">
                    <div class="card-body">
                        <button class="btn btn-warning" style="margin-top: -70px; margin-right:-130px;"> برمجه</button>
                        <h4 class="card-title directions">++C</h4>
                        <div class="clr"></div>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                        <hr>
                        <p><span class=" float-left"> 500.00$ </span>
                            <span class="directions">5/15</span>
                        </p>
                        <div class="clr"></div>
                        <a href="#" class="btn mr-2 btn-primary" style="margin-bottom: -60px;">نبهنى لاحقا</a>
                        <a href="#" class="btn btn-primary" style="margin-bottom: -60px;">الدخول للقاء</a>

                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-4">
                <div class="mt-3">
                    <div class="searchBox">
                        <p class="directions font-weight-bolder">بحث عن لقاءات</p><br>
                        <hr class="w-100 bg-white">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon bg-warning px-3 text-center" style="width:5% !important;"
                                id="sizing-addon1"><i class="fas fa-search text-white text-center pt-3 pr-5"></i></span>
                            <input type="text" class="form-control directions" placeholder="بحث" aria-label="Username"
                                aria-describedby="sizing-addon1">
                        </div>
                    </div>
                </div>

                <div class="mt-3">
                    <div class="searchBox">
                        <p class="font-weight-bolder">اللقاءات</p>
                        <hr class="w-100 bg-white">
                        <p><span class=" float-left"> برمجه</span>
                            <span class="directions"><button class="btn btn-primary">2</button></span>
                        </p>
                        <div class="clr"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<app-footer></app-footer>